<%= form_for @user, controller: 'sessions', action: 'create' do |f| %>
<h1>Create your own user profile:</h1>
  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :password %>
  <%= f.password_field :password %><br>

  <h2>Do you manage, own, or work for a site that you would like to add?</h2><br>
  <%= f.label :site_admin %>
  <%= f.check_box :site_admin %><br>

  <%= link_to('Log in with Facebook!', '/auth/facebook') %>
  <%= f.submit "Create User" %>
<% end %>
