<div class='site_container'>
  <div class='form'>
    <%= form_for [current_user, @site], url: user_sites_path, html: { multipart: true } do |f| %>

      <%= f.label :name %><br>
      <%= f.text_field :name %><br>

      <%= f.label :street_address %><br>
      <%= f.text_field :street_address %><br>

      <%= f.label :city %><br>
      <%= f.text_field :city %><br>

      <%= f.label :zip_code %><br>
      <%= f.text_field :zip_code %><br>

      <%= f.label :contact_info %><br>
      <%= f.text_field :contact_info %><br>

      <%= f.label :accessibility %><br>
      <%= f.text_field :accessibility %><br>

      <%= f.label :site_info %><br>
      <%= f.text_area :site_info %><br>

      <%= f.label :image %><br>
      <%= f.file_field :image %><br>

      <%= f.submit "Create Your Site" %>
    <% end %>
  </div>
</div>
