<!DOCTYPE html>
<html>
  <head>
    <title>Tiffany In Connecticut</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Corben|EB+Garamond" rel="stylesheet">
  </head>

  <body>
  <div id="body" class="tiffany-background">
   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
     <div class="container">
       <div class="wrapper">
         <div id="navbar" class="navbar-header">
         <a class="navbar" href="<%= root_url %>"/>Home </a>
         <a class="navbar" href="<%= about_url %>"/>About </a>
         <a class="navbar" href="<%= index_url %>"/>Index </a>
         <% if @user %>
             <a class="navbar" href="<%= logout_url %>"/>Log Out </a>
         <% else %>
           <a class="navbar" href="<%= new_user_url %>"/>Sign Up </a>
           <a class="navbar" href="<%= signin_url %>"/>Sign In </a>
          <% end %>
        </div>
       </div>
     </div>
   </div>
   <div class="container" role="main">
     <div class="wrapper clearfix">
        <%= yield %>
      </div>
    </div>
    </div>
  </body>
</html>
